# Actually just ignore entire .idea dir
.idea/
# Default ignored files
.idea/shelf/
/workspace.xml
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests/

/dist/
/build/
/__pycache__/
*spec
e84_aelmes.iml
/inspectionProfiles/
misc.xml
modules.xml
other.xml
vcs.xml